.disappear{
  display:none;
}

body {
  background-image:
  url ("https://patterninja.com/HyJluwb1r");
  background-repeat: no-repeat;
  background-position:right top;
  background-attachment: fixed;
}
