.disappear{
  display:none;
}

body {
  background-image:url("Images/door-padlock.jpg");
  background-size: cover;
  color: #B044AF;
  /* filter: blur(5px); */
}

/*
#inicio, #resultado, #instrucciones {
  background-color: #A2DDC5;
  opacity: 0.5;
} */

#contenido {
  color: #B044AF;
}

.opacity{
   background-color:white;
   opacity: 0.6; 
   width:1000px;
   height: 100%;
   position:absolute;
   top:0px;
}

.texto {
  color: black;
}




/*
.fondo {
  background-image:src() "Images/door-padlock.jpg";
  background-size: cover;
  filter: blur(5px);
  height: 100%;
}
*/
